html {
  background-color: darkgray;
}

body {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 1rem;
  font-style: normal;
  font-family: "Times New Roman";
  padding: 1rem;
  border: 1px solid gray;
  box-shadow: 0 0 5px silver;
  background-color: white;
}

h2 {
  font-size: 1.2rem
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.v-middle * {
  vertical-align: middle;
}

.right {
  float: right;
}

.pad-m {
  padding: 0.5rem 0;
}

input, textarea{
  width: 100%;
  font-size: 1rem;
}


