@media only print {
	.hide-print {
		display:none;
	}
}

@media only screen {

html {
  background-color: darkgray;
}

body {
  max-width: 500px;
  margin: 0 auto;
  font-style: normal;
  font-family: "Times New Roman", serif;
  padding: 1rem;
  border: 1px solid gray;
  box-shadow: 5px 5px 5px gray;
  background-color: white;
}

body * {
  box-sizing: border-box;
}

h2 {
  font-size: 1.2rem
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.v-middle * {
  vertical-align: middle;
}

.nav {
  display: flex;
  justify-content: flex-end;
}


.nav p {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

/*.right {*/
/*display: inline-block;*/
/*width:100%;*/
/*text-align: right;*/
/*}*/

.pad-m {
  padding: 0.5rem;
}

.pad-t-b {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mar-t-b {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input:not([type=checkbox]), textarea {
  width: 100%;
  font-size: 1rem;
}

input, textarea {
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.button, button {
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border: 1px solid gray;
  background-color: rgb(230, 230, 230);
  box-shadow: 2px 2px 2px gray;
}

.errors {
  color: #cc0000;
  list-style-type: none;
}

.required {
  color: blue;
}

.nested {
  padding-left: 2rem;
}

.nested label {
  width: 20%;
  display: inline-block;
}

.nested input {
  display: inline-block;
  width: 38%;
  margin: 0;
  padding: 0;
}

.not-logged-in {
  font-size: 1.6rem
}
}