<!DOCTYPE html>
<html>
<head>
  <title>{% if title is defined %}{{ title }}{% else %}{{  entry is defined ? entry.title}}{% endif %}</title>
  <link rel="stylesheet" href="{{ siteUrl }}jordan.css">
  <meta charset="utf-8"/>
</head>

<body>
  {% block content %}
  {% endblock %}
</body>
</html>