{% extends '_layout' %}

{% block content %}
  {% if currentUser %}
    <h1>Homepage</h1>
    <h2>Read people's CVs</h2>
    <ul>
      {% for entry in craft.entries.section('cvs').status(null) %}
        {% if entry.enabled or currentUser.admin %}
          <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>

  {% else %}
    <h1 class="not-logged-in">You need to be logged in to read people's CVs</h1>
  {% endif %}

{% endblock %}