{% extends '_layout' %}

{% block content %}
  {% if currentUser %}
    <h1>Homepage</h1>
    <h2>Read people's CVs</h2>
    <ul>
      {% for cv in craft.entries.section('cvs') %}
        <li><a href="{{ cv.url }}">{{ cv.title }}</a></li>
      {% endfor %}
    </ul>

  {% else %}
    <h1 class="not-logged-in">You need to be logged in to read people's CVs</h1>
  {% endif %}

{% endblock %}