{% extends '_layout' %}
{% set title = 'Your Profile' %}

{% block content %}
  {% if currentUser %}
    <p align="right">Welcome, <a href="profile">{{ currentUser.friendlyName }}</a>! <a href="logout">Log Out</a></p>


    {#Dear future Jordan. Get help here with finding relevent CV and
    Assigning a cv to a person#}


    <h1>Profile</h1>

    {% set cvs = craft.entries.section('cvs').authorId(currentUser.id) %}


    {% if cvs is empty %}
      <h2>Create your first CV</h2>
    {% else %}
      <h2>Your Cvs</h2>
      <ul>
        {% for cv in cvs %}
          <li><a href="{{ cv.url }}">{{ cv.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if cvs|length < 5 %}
      {% include 'profile/_add-cv' %}
    {% else %}
      <h2>You are only allowed 5 CV's<br>You have reached the limit.</h2>
    {% endif %}

    <h2>Update Information</h2>
    <a href="profile/change-password">Change Password</a>

  {% else %}
    <h1>Oops</h1>
    <p>You aren't logged in so you don't have access to this page</p>
    <p>I'll give you 3 options here</p>
    <ul>
      <li><a href="../">Go back to homepage</a></li>
      <li><a href="login">Log In</a></li>
      <li><a href="register">Register</a></li>
    </ul>
  {% endif %}
{% endblock %}